:root {
    /* ### Primary */

--Blue-500: hsl(215, 51%, 70%);
--Cyan-400: hsl(178, 100%, 50%);

/* ### Neutral */

--Blue-main-BG: hsl(217, 54%, 11%);
--Blue-card-BG: hsl(216, 50%, 16%);
--Blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);

/* - Font size (paragraph): 18px */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    background: var(--Blue-main-BG);
    color: var(--White);
}